<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de productos</h1>
    <h1><%= 2*2 %></h1>
    <h1><%= Math.random() %></h1>
    <p><%= gender %></p>
   <% if (gender == "female") { %>
        <p>na woman you be</p>    
   <% } %> 
</body>
</html>